// Colors
$aqua: #6eaeb3;
$aqua-highlight: #87dbf1;
$black: #222222;
$dark-blue: #233642;
$blue: #325b75;
$gray: #cccccc;
$grey: $gray;
$green: #7caf69;
$green-highlight: #95d07f;
$light-gray: #888888;
$light-grey: $light-gray;
$pink: #ff8c9f;
$white: #ffffff;

// Shadows
$box-shadow-bottom: 0px 6px 2px 0px rgba($black, 0.08);

// Fonts
$default-font: "Rubik", "Helvetica", "Arial", sans-serif;

// Sizes
$heading-size: 1.6em;
$layout-width: 1280px;

