<div class="well">
  <h1>Rubik's Cube Times</h1>
  <ul class="list-group">
    <li class="list-group-item">Best Time: <%= @best_time %></li>
    <li class="list-group-item">Best Average: <%= @best_average %></li>
  </ul>
  <table class="table table-striped table-bordered table-hover">
    <tr><th>Date</th><th>Average</th><th colspan="12">Times</th></tr>
    <% @timesArray.each do |t| %>
    <%= raw t %>
    <% end %>
  </table>
</div>
