<div class="well clearfix">
  <div id="timerSection">
    <h2>Timer</h2>
    <p><strong>Scramble:</strong> 
      <!-- @TODO generate real scrambles... -->
      B'  R'  F2  B  L2  F'  B  L2  B2  D'  U'  R  U  D'  L'  U2  F2  U2  F'  L  R'  F  U'  D'  F2
    </p>
    <p class="avg-12">Average 12: <span>--</span></p>
    <p class="timer">0:00</p>
    <button id="timer_button" type="button" class="btn btn-warning">Press Spacebar to start / stop timer</button>
  </div>
  <div id="timerTimes">
    <ul>
    </ul>
  </div>
</div>
