<div class="well mat clearfix">
  <div id="timerSection">
    <h2>Timer</h2>
    <div class="scrambleContainer">
      <strong>Scramble:</strong> 
      <span class="scramble"></span>
    </div>
    <p class="avg-12">Average 12: <span>--</span></p>
    <p class="timer">0:00</p>
    <button id="timer_button" type="button" class="btn btn-warning">Press spacebar or tap hold the screen to start!</button>
  </div>
  <div id="timerTimes">
    <ul>
    </ul>
  </div>
</div>
