// body { background: #202020 }
//
// header.well { width: 1020px; margin: 0 auto 12px auto; background: #1a1a1a; text-align: right; border-bottom: 2px solid #262626; border-left: 2px solid #262626; border-right: 2px solid #262626; padding: 6px 0 }
// header.well p { margin: 0 12px 0 0; font-size: 12px }
//
// h1 { background: image-url("logo.png") 0 0 no-repeat; height: 70px; padding: 15px 0 0 80px; float: right }
//
// h1 a,
// h1 a:hover { color: #fff; text-decoration: none }
//
// #mainContainer { width: 1020px; margin: 0 auto; background: #1a1a1a; padding: 0 60px; border: 1px solid #262626; border-radius: 4px; margin-bottom: 12px }
// .content { margin-top: -24px }
// .content ul  { margin-bottom: 0; border: 0 }
//
// .mat { background: #1a1a1a; border: 2px solid #262626 }
//
// p.timer_val { line-height: 1.2em; font-size: 140px; font-weight: 900; color: #1a1a1a; background: #a6a6a6; border-radius: 10px; text-align: center; width: 100% }
//
// #timer_button {
//   color: #000;
//   width: 100%;
//   padding: 20px 0;
//   font-size: 32px;
//   border: 0;
//   background: #f5fb02;
//   cursor: pointer;
// }
//
// #timer_button.keydown {
//   background: #2a9fd6;
//   border-color: #fff;
// }
//
// #timer_button.active {
//   background: #ff8800;
//   border-color: #ff8800;
// }
//
// #timerSection { }
// #timerTimes { }
// #timerTimes ul { list-style-type: none; margin: 0; padding: 0 }
// #timerTimes ul li { color: #fff; font-size: 1.3em; display: block; float: left; width: 68px; text-align: center; height: 66px; font-size: 14px; color: #888 }
// .avg-12 { color: #fff }
// #timerTimes ul li span { color: #fff; font-size: 16px; display: block }
// .scrambleContainer { margin: 24px 0; text-align: center; font-size: 1.6em; color: #888 }
//
// #statistics-container { font-size: 16px; color: #fff; margin: 24px 0 12px 0 }
// #statistics-container #statistics-left { float: left }
// #statistics-container #statistics-right { float: right }
//
// .puzzle-type {
//   margin: 0 0 12px 0;
// }
//
// /* User sign in and sign forms. */
// .border-form-div {
//   max-width: 500px;
//   padding: 19px 29px 29px;
//   margin: 0 auto 20px;
//   -webkit-border-radius: 5px;
//   -moz-border-radius: 5px;
//   border-radius: 5px;
//   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
//   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
//   box-shadow: 0 1px 2px rgba(0,0,0,.05);
// }
//
// .border-form-div h2 {
//   margin-bottom: 20px
// }
//
// .border-form-div label {
//   font-size: 16px;
//   font-weight: 100;
// }
//
// .border-form-div .form-signin-heading,
// .border-form-div .checkbox {
//   margin-bottom: 10px;
// }
// .border-form-div input[type="text"],
// .border-form-div input[type="email"],
// .border-form-div input[type="password"] {
//   width: 100%;
//   color: #000;
//   font-weight: 100;
//   border: none;
//   border-radius: 8px;
//   font-size: 22px;
//   height: auto;
//   margin-bottom: 15px;
//   padding: 12px;
// }
//
// .border-form-div input[type="submit"] {
//   margin: 20px 0;
// }
//
// input:focus {outline: none;}
