#footer { height: 64px; width: 1020px; margin: 0 auto 40px auto; border: 1px solid #262626; background: #1a1a1a }
#footer ul { list-style-type: none; float: left; margin: 0; padding: 0 }
#footer ul li { margin-right: 12px; display: block; float: left }
#footer ul li a { display: block; width: 24px; height: 24px; background-image: image-url("social.png"); background-position: 0 0 }
#footer ul li a.pinterest { background-position: -24px 0 }
#footer ul li a.twitter { background-position: -48px 0 }
#footer ul li a.googleplus { background-position: -72px 0 }
#footer .copy-info { float: right }

