.main-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: $heading-size;
}

.main-nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 200;
  font-size: 13px;
  list-style-type: none;
  margin: 0;
  text-indent: 0em;

  li {
    line-height: 2.4;
    padding: 0 0.3em;
  }

  li a {
    color: $grey;
    text-decoration: none;

    &.btn,
    &.btn:hover {
      color: $white;
    }
  }

  li a.active {
    color: $white;
  }

  li a:hover {
    color: $grey;
  }
}

.main-nav__divider {
  color: $light-grey;
}

