.main-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: $heading-size;
}

.main-nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 2px 0 0 0;

  li {
    padding: 0 0.5em;
  }

  li a {
    color: $white;
    text-decoration: none;
  }

  li a:hover {
    color: $grey;
  }
}

.main-nav__divider {
  color: $light-grey;
}

