@import url("//fonts.googleapis.com/css?family=Rubik:400,700");
@import "base/**/*";
@import "components/**/*";

html, body {
  height: 100%;
}

.main-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: $layout-width;
}
