@import url("//fonts.googleapis.com/css?family=Rubik:400,700");
@import "base/**/*";
@import "components/**/*";

.main-wrapper {}

.main-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: $layout-width;
  max-width: $layout-width;
}
