<div id="footer" class="well group">
  <ul class="group">
    <li>
    <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://rubikscubetimer.com/"></a></li>
    <li><a class="twitter" href="https://twitter.com/home?status=Need%20an%20online%20Rubik's%20Cube%20timer?%20http://rubikscubetimer.com"></a></li>
    <li><a class="googleplus" href="https://plus.google.com/share?url=http://rubikscubetimer.com"></a></li>
    <li><a class="pinterest" href="https://pinterest.com/pin/create/button/?url=http://rubikscubetimer.com&media=&description="></a></li>
  </ul>
  <div class="copy-info">
    &copy;2014-<%= Date.today.year %>
    <%= link_to "Bryan Mytko", "https://github.com/bryanmytko" %>
     ♥ 
    <%= link_to "Github", "https://github.com/bryanmytko/cubetimes" %>
  </div>
</div>
