<ul class="nav nav-tabs">
  <li <%= is_active "/" %>>
    <a href="/" data-toggle="tab">Timer</a>
  </li>
  <li <%= is_active "statistics" %>>
    <a href="/statistics" data-toggle="tab">Statistics</a>
  </li>
  <li <%= is_active "profile" %>>
    <a href="/profile" data-toggle="tab">Profile</a>
  </li>
  <li <%= is_active "tutorial" %>>
    <a href="/tutorial" data-toggle="tab">Tutorial</a>
  </li>
</ul>
